<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> 's Wish Items Page</title>
  <th:block th:include="partials/bootstrap :: styling"></th:block>
</head>
<body>
<header>
  <h1 style="text-align: center">Welcome PLACEHOLDER NAME!</h1>
</header>
<nav th:replace="partials/wishitems :: navbar"></nav>

<div class="container">
  <!--            <h2>What would you like to do?</h2>-->

  <form th:action="@{/wishitems/index}" th:method="POST" th:object="${newWishitem}">
    <div class="form-group">
      <label for="exampleFormControlSelect1"><h2>What would you like to do?</h2></label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>View Wish Items</option>
        <option>Add Wish Items</option>
        <option>Edit Wish Items</option>
        <option>Delete Wish Items</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2"><h2>Select User(s)</h2></label>
      <small class="form-text text-muted">Hold down CTRL(Command for Mac) + click to select multiple users.</small>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>John</option>
        <option>Jane</option>
        <option>Sam</option>
        <option>Jenny</option>
        <option>Pablo</option>
      </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>