<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> 's Rewards Page</title>
        <th:block th:include="partials/bootstrap :: styling"></th:block>
    </head>
    <body>
        <header>
            <h1 style="text-align: center">Welcome ADMIN PLACEHOLDER NAME!</h1>
        </header>
        <nav th:replace="partials/rewards :: navbar"></nav>
        <h2 style="text-align: center">What would you like to do?</h2>
        <p>Option</p>
        <p>Option</p>
        <p>Option</p>

        <th:block th:replace="partials/bootstrap :: scripts"></th:block>
    </body>
</html>