<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> 's Rewards Page</title>
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <link rel="stylesheet" th:href="@{../static/css/style.css}">

</head>
<body class="rewards-user-rewards-all" style="background-color: #5e807f">
<!--<header>-->
<!--    <h1 class="text-center" th:inline="text">[[${#httpServletRequest.remoteUser}]] Reward Store</h1>-->
<!--</header>-->
<nav th:replace="partials/rewards :: navbar"></nav>
<h1 class="text-center" th:inline="text">[[${#httpServletRequest.remoteUser}]] Reward Store</h1>
<h5 class="text-center">Points to Spend: <span th:text="${user.getPointsTotal()}"></span></h5>
<h2 style="text-align: center">Here are the items available for purchase:</h2>

<div class="container d-flex justify-content-around">
    <div th:each="reward : ${allRewards}" class="d-flex card" style="width: 18rem; margin: 1em;">
        <img src="..." class="card-img-top" alt="">
        <div class="card-body">
            <h4 th:text="${reward.title}" class="card-title text-center"></h4>
            <p th:text="${reward.body}" class="card-text"></p>
            <p>Points: <span th:text="${reward.points}"></span></p>
<!--            <p>Reward ID: <span th:text="${reward.getId()}"></span></p>-->
            <div class="btn-group text-center">
                <form th:action="@{/rewards/{id}/purchase (id= ${reward.getId()})}" METHOD="post">
            <button type="submit"  class="btn btn-success text-left">Purchase</button>
                </form>
            <form th:action="@{/rewards/{id}/delete (id = ${reward.getId()})}" class="btn-group text-center">
                <button class="btn btn-danger text-right">Delete</button>
            </form>
            </div>
<!--            <a href="@{/rewards/{id}/delete} (id = ${reward.getId()})" class="btn btn-danger">Delete</a>-->
        </div>
    </div>
</div>
<!-- Scripts   -->
<!--        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>-->
<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>