<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="css/main.css">-->

    <link rel="stylesheet" th:href="@{../static/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Add a Task</title>
    <!--    <th:block th:include="templates/partials/bootstrap :: styling"></th:block>-->
</head>
<th:block th:include="partials/bootstrap :: styling"></th:block>

<body class="tasks-create" style="background-color: #5e807f">
<nav th:replace="partials/navbar:: navbar"></nav>
<link rel="stylesheet" th:href="@{../static/css/style.css}">

<h2 style="text-align: center">Create A Task</h2>
<div class="container" style="font-family: Roboto,sans-serif">
    <form th:action="@{/tasks/create}" th:method="POST" th:object="${newTask}">
        <p>Icon</p>
        <form class="update-icons" style="font-family: Roboto,sans-serif">
            <!--            <label for="icon" class="icons">Choose Icon</label>-->
            <select style="font-family: Roboto,sans-serif" id="icon" class="icons"  th:field="*{icon}" name="icon" th:value="${newTask.getIcon()}">Icons
                <option id="0" value="Zero"  >Select your task icon. </option>
                <option id="1" value="One">Bedroom</option>
                <option id="2" value="Two">Kitchen</option>
                <option id="3" value="Three">Living Room</option>
                <option id="4" value="Four">Bathroom</option>
                <option id="5" value="Five">Lawn-care</option>

                <option  id="pickedFile" value='Six'>For Custom Image</option>
            </select>

            <button id="open" type="button" name="clicked" class="btn btn-outline-secondary mb-3 whiteFont" disabled>
                Click >>here<< to upload your own image.
            </button>
            <!--            <input  class="form-control form-control-lg" id="pickedFile" type="hidden" name="imgurl" />-->
            <span id="uploadMessage" class="mx-3"></span>

            <br>
<!--            <div class="form-group">-->
<!--                <label for="icon">Icon </label>-->
<!--                <input type="hidden" class="form-control" name="imgFile" th:field="*{icon}">-->
<!--            </div>-->

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" th:field="*{title}">
            </div>
            <div class="form-group">
                <label for="body">Description</label>
                <textarea type="text" class="form-control" id="body" name="body" rows="5" th:field="*{description}"></textarea>
            </div>
            <div class="form-group">
                <label for="points">Points</label>
                <input type="text" class="form-control" id="points" name="points" th:field="*{points}">
            </div>

            <label for="childId">Select Child to Assign Task To</label>
            <div class="form-group">
                    <select th:name="childId">Icon
                    <option th:each="child : ${children}" th:value="${child.id}" th:text="${child.username}" name="childId" id="childId"></option>
                </select>
                </div>

            <!--the icon images or pics-->
            <div id="showOne" class="myDiv">
                <img  th:src="@{/images/bedroom.webp}" width="100" alt="bedroom" /><span>Bedroom</span>
            </div>
            <div id="showTwo" class="myDiv">
                <img th:src="@{/images/kitchen.webp}" width="100" height="100" alt="pup"/><span>Kitchen</span>
            </div>
            <div id="showThree" class="myDiv">
                <img   th:src="@{/images/livingroom.png}" width="100" alt="Icon 3"/><span>Living Room</span>
            </div>
            <div id="showFour" class="myDiv">
                <img   th:src="@{/images/bathroom.png}" width="100"  alt="Icon 4"/><span>Bathroom</span>
            </div>
            <div id="showFive" class="myDiv">
                <img   th:src="@{/images/lawncare.png}" width="100" alt="Icon 5"/><span>Lawn-care</span>
            </div>
            <div id="showSix" class="myDiv">
                <img src="" width="100" height="100" alt="Custom"/><span>Custom</span>
            </div>

            <button type="submit" class="btn btn-warning">Submit</button>
        </form>

        <!--    BELOW is the snippet for "custom" icon to enable/disable filestack button-->
        <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script th:inline="javascript">

            /*<![CDATA[*/
            const file = /*[[${fsKey}]]*/ 'default';
            // const client = filestack.init(file);
            const client = filestack.init(file);
        // window.addEventListener('DOMContentLoaded', function () {

        const options = {
        maxFiles: 1,
        uploadInBackground: false,
        // accept: [".jpeg"],
        onUploadDone: uploadFile
        };
        const picker = client.picker(options);
        const openBtn = document.getElementById('open');
        openBtn.addEventListener('click', () => picker.open());
        function uploadFile(result) {
        const fileData = result.filesUploaded[0];
        console.log(fileData);
        console.log(fileData.url);
        console.log(fileData.mimeType);

        $('#pickedFile').val(fileData.url);
        $('#open').text(fileData.filename);
        $('#uploadMessage').text('Upload Succeed!');
        $('#submitAvatar').submit();
        }
        $('div.myDiv').attr("src", function () {
        return $('#pickedFile').val();
        })

        // });
        </script>
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
        <th:block th:replace="partials/bootstrap :: scripts"></th:block>
        <!--Script for filestack -->
        <script type="text/javascript">
            $(".icons").change(function(e){
                e.preventDefault();
                e.stopPropagation();
                var button = $(this).next("button");
                if(this.value === "Six") {
                    button.css("display", "block");
                    button.prop("disabled", false);

                }else{
                    button.css("display", "none");
                    button.prop("disabled", true);
                }
                // console.log(button.prop('disabled'));
            });
        </script>
        <!--      script for icon function-->

        <script >
            // $(document).ready(function() {
            $('#icons').on('change', function () {
                var iconvalue = $(this).val();
                //console.log(iconvalue);

                $("div.myDiv").hide();
                $('#show' + iconvalue).show();

            });


            // });
        </script>

    </form>
</div>
<!-- Scripts -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

<!--<script th:src="@{../static/js/main.js}"></script>-->
<!--<script src="/static/js/main.js"></script>-->
<th:block th:include="/partials/bootstrap :: scripts"></th:block>

</body>
</html>