<!DOCTYPE html>
<!--Thymeleaf attribute -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head id="Top">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>
<body class="d-flex flex-column min-vh-100">

<!--Thymeleaf template fragment for footer partial-->
<!-- Footer -->
<footer th:fragment="styling" class="text-center text-white" style="background-color: #000000; margin-top: 45vh; position: sticky;">

<!--    &lt;!&ndash; Grid container &ndash;&gt;-->
<!--    <div class="container p-4 pb-0">-->
<!--        &lt;!&ndash; Section: CTA &ndash;&gt;-->
<!--        <section class="row d-flex justify-content-center">-->
<!--            <ul style="list-style: none">-->
<!--&lt;!&ndash;                <li><a class="" href="#Top" style="color:white">Top of Page</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a class="" href="/contact-form" style="color:white">Contact Us</a></li>&ndash;&gt;-->
<!--                <li><a class="about-us" href="/about-us" style="color:white">About Us</a></li>-->
<!--            </ul>-->

<!--&lt;!&ndash;            <p class="">&ndash;&gt;-->
<!--&lt;!&ndash;            <form action="sign-up" method="get">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="me-3" style="padding-right: 10px">Register</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <button type="submit" class="btn btn-outline-light btn-rounded">&ndash;&gt;-->
<!--&lt;!&ndash;                    Sign up!&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--        </section>-->
<!--        &lt;!&ndash; Section: CTA &ndash;&gt;-->
<!--    </div>-->
<!--    <div class="card-footer text-muted">-->
<!--         © 2022 KidsRewards.xyz-->
<!--    </div>-->
<!--    &lt;!&ndash; Grid container &ndash;&gt;-->
</footer>

</body>
</html>