<nav th:fragment="navbar2" class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container" style="justify-content: flex-start">
        <a class="navbar-brand" href="http://localhost:8080">KidsRewards</a>
    </div>
</nav>



<!--<nav> th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-primary">-->
<!--&lt;!&ndash;     xmlns:sec="http://www.w3.org/1999/xhtml"&ndash;&gt;-->
<!--    <a class="navbar2-brand" href="http://localhost:8080">KidsRewards</a>-->
<!--    <div class="container-fluid"></div>-->
<!--    <button class="navbar2-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar2-toggler-icon"></span>-->
<!--    </button>-->
<!--    </div>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar2-nav mr-auto">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="http://localhost:8080">Home <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="http://localhost:8080/rewards">Rewards</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="http://localhost:8080/wishitems">Wish Items</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->
