<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-light bg-light" style="background-color: #5e807f"
     xmlns:sec="http://www.w3.org/1999/xhtml">

    <th:block th:include="partials/bootstrap :: styling"></th:block>

    <div class="container-fluid" >
        <a class="navbar-brand" href="/">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle"  id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rewards Store</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/rewards/user-rewards-all">View rewards</a>
                            <div ><a class="dropdown-item" href="/rewards/create">Create a reward</a></div>
                            <div class="dropdown-divider"></div>
                            <!--                    <a class="dropdown-item" href="#">Something else here</a>-->
                        </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tasks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/tasks/index">Tasks To Do</a>
<!--                        <div th:if="${loggedInUser.getParent()} == true">-->
                            <a class="dropdown-item"  href="/tasks/create">Add a Task</a>
<!--                        </div>-->

                        <div class="dropdown-divider"></div>
                        <div ><a class="dropdown-item" href="/tasks/reviewform">Review Tasks</a></div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Wishitems
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/wishitems">View a wishitem</a>
<!--                        <div th:if="${loggedInUser.getParent()} == true">-->
                            <a class="dropdown-item" href="/wishitems/create">Create a wishitem</a>
<!--                        </div>-->
                        <div class="dropdown-divider"></div>
                        <!--                    <a class="dropdown-item" href="#">Something else here</a>-->
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Family
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
<!--                            <div th:if="${loggedInUser.getParent()} == true">-->
                        <a class="dropdown-item" href="/createfamily">Create Family</a>
<!--                        </div>-->

<!--                        <div th:if="${loggedInUser.getParent()} == true">-->
                            <a class="dropdown-item" href="/createchild">Add a child</a>
<!--                        </div>-->
                    </div>
                </li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px; color: black">Logout</button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" style="margin-top: 13px; margin-right: 8px">
               <a>Hi, </a> <span th:text="${#authentication.principal.username}"></span>
            </li>
        </ul>
            <!--        <li class="nav-item">-->
            <!--          <a class="nav-link disabled">Disabled</a>-->
            <!--        </li>-->
<!--            </ul>-->
            <!--      <form class="d-flex">-->
            <!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
            <!--      </form>-->
            <form class="d-inline-flex" role="search" id="form" style="margin-top: 6px">
                <input class="form-control me-2" type="search" id="query" name="q"
                       placeholder="Search..."
                       aria-label="Search through site content">
                <button><svg viewBox="0 0 1034 1034"><path class="path1"
                                                           d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg></button>
            </form>

      </div>
        </div>
 <th:block th:include="/partials/bootstrap :: scripts"></th:block>

    <style>
        .nav-item{
            font-size: 1rem  !important;
        }
    </style>
    <script>
        const f = document.getElementById('form');
        const q = document.getElementById('query');
        const google = 'https://www.google.com/search?q=site%3A+';
        const site = 'kidsrewards.xyz';

        function submitted(event) {
            event.preventDefault();
            const url = google + site + '+' + q.value;
            const win = window.open(url, '_blank');
            win.focus();
        }

        f.addEventListener('submit', submitted);
    </script>
</nav>
