<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-light" style="background-color: #17b890; font-family: Roboto, sans-serif"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{../static/css/style.css}">

    <div class="w-100" >
        <a class="navbar-brand" href="/" style="font-family: Roboto,serif">KidsRewards</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="me-auto mb-2 mb-lg-0 d-flex flex-grow-1 align-items-center" style="font-family: Roboto,serif; list-style: none;">

                <li class="nav-item dropdown" sec:authorize="isAuthenticated()"  th:if="${loggedInUser.getParent()} == true">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Family
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <div th:if="${loggedInUser.getParent()} == true">
                            <a class="dropdown-item" href="/createfamily">Create Family</a>
                        </div>
<!--                        <div class="dropdown-divider"></div>-->
                        <div th:if="${loggedInUser.getParent()} == true">
                            <a class="dropdown-item" href="/createchild">Add a Child</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown" style="font-family: Roboto,serif" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tasks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">

                        <div th:if="${loggedInUser.getParent()} == false">
                        <a class="dropdown-item" href="/tasks/index">Tasks To Complete</a>
                        </div>
<!--                        <div class="dropdown-divider"></div>-->
                        <div th:if="${loggedInUser.getParent()} == true">
                            <a class="dropdown-item"  href="/tasks/create">Add a Task</a>
                        </div>
<!--                        <div class="dropdown-divider"></div>-->
                        <div th:if="${loggedInUser.getParent()} == true">
                            <a class="dropdown-item" href="/tasks/reviewform">Review Tasks</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown" style="font-family: Roboto,serif" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Wish Items
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">

                        <a class="dropdown-item" href="/wishitems">View a Wish Item</a>
                        <div th:if="${loggedInUser.getParent()} == false">
                            <a class="dropdown-item" href="/wishitems/create">Create a Wish Item</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown" style="font-family: Roboto,serif" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#"   id="navbarDropdown1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rewards Store</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <div th:if="${loggedInUser.getParent()} == false">
                        <a class="dropdown-item" href="/rewards/user-rewards-all">View Rewards</a>
                        </div>
                        <div th:if="${loggedInUser.getParent()} == true">
                            <a class="dropdown-item" href="/rewards/create">Create a Reward</a>
                        </div>
                    </div>
                </li>
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/sign-up">Register</a>
                </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px; color: black">Logout</button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" style="margin-top: 13px; margin-right: 8px">
               <a>Hi, </a> <span th:text="${#authentication.principal.username}"></span>
            </li>
                <li class="nav-item">
                    <a class="nav-link float-end" href="/about-us">About Us</a>
                </li>
                </ul>
        </ul>

<!--            <th:block th:include="/partials/bootstrap :: scripts"></th:block>-->
<!--            <script>-->
<!--                const f = document.getElementById('form');-->
<!--                const q = document.getElementById('query');-->
<!--                const google = 'https://www.google.com/search?q=site%3A+';-->
<!--                const site = 'kidsrewards.xyz';-->

<!--                function submitted(event) {-->
<!--                    event.preventDefault();-->
<!--                    const url = google + site + '+' + q.value;-->
<!--                    const win = window.open(url, '_blank');-->
<!--                    win.focus();-->
<!--                }-->

<!--                f.addEventListener('submit', submitted);-->
<!--            </script>-->
      </div>
        </div>


    <style>
        .nav-item{
            font-size: 1rem  !important;
        }
    </style>

</nav>
