<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-primary"
     xmlns:sec="http://www.w3.org/1999/xhtml">
  <a class="navbar-brand" href="http://localhost:8080">KidsRewards</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:8080/wishitems">WishItems Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
<!--        I used this href NDJ     -->
        <a class="nav-link" th:href="@{/wishitems/create}">Create WishItems</a>
      </li>
<!--      <li class="nav-item float-right" sec:authorize="isAuthenticated()">-->
<!--        <form th:action="@{/logout}" th:method="post">-->
<!--          <button class="btn-link-secondary btn" style="margin-top: 0px">Logout</button>-->
<!--        </form>-->
<!--      </li>-->
    </ul>
  </div>

<!--  <div style="float:right">-->
<!--  <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--    <form th:action="@{/logout}" th:method="post">-->
<!--      <button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
<!--    </form>-->
<!--  </li>-->
<!--  </div>-->

</nav>