<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a Family</title>
<!--    <th:block th:include="partials/bootstrap :: styling"></th:block>-->

</head>
<body>
<!--<nav th:replace="partials :: navbar"></nav>-->
    <h1>Create A Family</h1>
    <form th:action="@{/createfamily}" method="Post" th:object="${family}">
        <label for="name">Family Name</label>
        <input id="name" name="name" th:field="*{name}"/>
        <button type="submit">Submit</button>
    </form>
<!--    <th:block th:include="partials/bootstrap :: scripts"></th:block>-->

</body>
</html>