<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head style="background-color: #5e807f">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <title>Create a Family</title>
    <th:block th:include="partials/bootstrap :: styling"></th:block>
      <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body class="users-createfamily" style="background-color: #9dc5bb">

<nav th:replace="partials/navbar :: navbar"></nav>
    <h1 class="text-center">Create A Family</h1>
<!--    <form th:action="@{/createfamily}" method="Post" th:object="${family}">-->
    <form th:action="@{/createfamily}" method="Post">

        <label for="name">Family Name</label>
        <input id="name" name="name">
<!--        <input id="name" name="name" th:field="*{name}"/>-->
        <button type="submit">Submit</button>
    </form>


<div class="container-fluid mx-auto first-div; mt-5" >
    <div id="title-banner" class="main-banner row bg-success disabled container-fluid col  align-items-center"  style="height: 296px">
        <br>
        <div class="title-intro col-lg-6 text-center">
            <h1 class="pt-3">The greatest gifts you can give your children are the roots of responsibility and the wings of independence.</h1>
        </div>
        <div class="col">
            <img class="img-fluid rounded float-right" src="images/mow-lawn.jpeg" style="width: 1200rem" alt="mow-lawn" >
        </div>
    </div>
</div>

<th:block th:replace="partials/bootstrap :: scripts"></th:block>

<script src="/static/js/main.js"></script>
</body>
</html>