<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head style="background-color: #5e807f">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <title>Create a Family</title>
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <link rel="stylesheet" th:href="@{../static/css/style.css}">

</head>
<body class="users-createfamily" style="background-color: #5e807f; font-family: Roboto, sans-serif">

<nav th:replace="partials/navbar :: navbar"></nav>
<!--<h1 class="text-center">Create A Family</h1>-->
<!--&lt;!&ndash;    <form th:action="@{/createfamily}" method="Post" th:object="${family}">&ndash;&gt;-->
<!--<form th:action="@{/createfamily}" method="Post" class="text-center">-->

<!--    <label for="name">Family Name</label>-->
<!--    <input id="name" name="name">-->
<!--    &lt;!&ndash;        <input id="name" name="name" th:field="*{name}"/>&ndash;&gt;-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->


<div class="container-fluid mx-auto first-div; mt-5" >
    <div id="title-banner" class="main-banner row bg-dark disabled align-items-center">
        <div class="title-intro col-lg-6 text-center text-white">
<!--            <h1 class="pt-3">The greatest gifts you can give your children are the roots of responsibility and the wings of independence.</h1>-->
            <h1 class="text-center">Create A Family</h1>
            <!--    <form th:action="@{/createfamily}" method="Post" th:object="${family}">-->
            <form th:action="@{/createfamily}" method="Post" class="text-center">

                <label for="name">Family Name</label>
                <input id="name" style="color: black" name="name">
                <!--        <input id="name" name="name" th:field="*{name}"/>-->
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
        </div>
        <div class="col">
            <img class="img-fluid rounded w-100 d-block" src="images/laundry1.jpeg" alt="kid-vacuum" >
        </div>
    </div>
</div>

<th:block th:replace="partials/bootstrap :: scripts"></th:block>

<script src="/static/js/main.js"></script>
</body>
</html>