<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Edit Email</title>
    <link rel="stylesheet" th:href="@{../static/css/style.css}">


    <th:block th:include="partials/bootstrap :: styling"></th:block>
</head>
<body class="users-sign-up" style="background-color: #5e807f; font-family: Roboto, sans-serif">

<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container-fluid mx-auto first-div; mt-5">
    <div id="title-banner" class="main-banner row bg-dark disabled align-items-center">
        <br>
        <div class="title-intro col-lg-6 text-center ">
            <h1 class="text-center text-center text-white">Change Password</h1>
            <form class="text-center col" th:action="@{/users/edit}" method="POST" th:object="${user}">
                <div>
                    <label for="oldPassword" class="text-white">Old Password</label>
                    <input id="oldPassword"/>
<!--                    <input id="oldPassword" th:field="*{password}"/>-->
                </div>
                <div>
                    <label for="newPassword" class="text-white" style="padding-left: 2em">New Password</label>
                    <input id="newPassword"/>
                </div>
                <div>
                    <label for="confirmPassword" class="text-white">Confirm Password</label>
                    <input id="confirmPassword"/>
                </div>
                <div>
                    <button type="submit" class="btn btn-warning text-center">Submit</button>
                </div>
            </form>
        </div>
        <div class="col">
            <img class="img-fluid rounded w-100 d-block" src="images/piggy-bank.jpeg" alt="piggy-bank">
        </div>


    </div>
</div>

<br><br>

<th:block th:replace="partials/bootstrap :: scripts"></th:block>
<script src="/static/js/main.js"></script>
</body>

</html>