<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en" >
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <th:block th:include="/partials/bootstrap :: styling"></th:block>
</head>

<body class="users-login">
<nav th:replace="partials/navbar:: navbar"></nav>
<h1 class="text-center">Kids Rewards User Log In</h1>
<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
<!--    <a href="/createfamily" class="btn btn-primary btn-lg active column-left" role="button" aria-pressed="true">Submit</a>-->
    <input type="submit" value="Log In" />
</form>


<!--<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>-->
<th:block th:replace="partials/bootstrap :: scripts"></th:block>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<!--<script src="/static/js/main.js"></script>-->
</body>
</html>

