<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en" >
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" >
    <th:block th:include="/partials/bootstrap :: styling"></th:block>
    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>

<body class="users-login" style="background-color: #9dc5bb">

<nav th:replace="partials/navbar2 :: navbar2"></nav>

<!--<h1 class="text-center">Kids Rewards User Log In</h1>-->


<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post" class="text-center">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
<!--    <a href="/createfamily" class="btn btn-primary btn-lg active column-left" role="button" aria-pressed="true">Submit</a>-->
    <input type="submit" value="Log In" />
</form>



<div class="container-fluid mx-auto first-div; mt-5" >
    <div id="title-banner" class="main-banner row bg-success disabled container-fluid col  align-items-center"  style="height: 296px">
        <br>
        <div class="title-intro col-lg-6 text-center">
            <h2 class="pt-3">The more your kids feel the allowance is fair, the more likely they'll think before they spend. Giving your child the experience of spending his own money is empowering.</h2>
        </div>
        <div class="col">
            <img class="img-fluid rounded float-right" src="images/mow-lawn.jpeg" style="width: 1200rem" alt="mow-lawn" >
        </div>
    </div>
</div>



<!--<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>-->
<th:block th:replace="partials/bootstrap :: scripts"></th:block>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<!--<script src="/static/js/main.js"></script>-->
</body>
</html>

