<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en" >
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" >
    <link rel="stylesheet" th:href="@{../static/css/style.css}">
    <th:block th:include="/partials/bootstrap :: styling"></th:block>
    <nav th:replace="partials/navbar2 :: navbar2"></nav>
</head>


<body class="users-login" style="background-color: #5e807f; font-family: Roboto, sans-serif ">


<br>
<br>
<!--<h1 class="text-center">Kids Rewards User Log In</h1>-->


<!--<div th:if="${param.error}">-->
<!--    Invalid Username and Password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->

<!--<form th:action="@{/login}" method="post" class="text-center">-->
<!--    <label for="username">Username</label>-->
<!--    <input id="username" name="username" type="text" />-->
<!--    <label for="password">Password</label>-->
<!--    <input id="password" name="password" type="password" />-->
<!--&lt;!&ndash;    <a href="/createfamily" class="btn btn-primary btn-lg active column-left" role="button" aria-pressed="true">Submit</a>&ndash;&gt;-->
<!--    <input type="submit" value="Log In" />-->
<!--</form>-->



<div class="container-fluid mx-auto first-div; mt-5" >

    <div id="title-banner" class="main-banner row bg-dark  align-items-center">

        <br>

<!--        <div class="title-intro col-lg-6 text-center">-->
<!--            <div th:if="${param.error}">-->
<!--                Invalid Username and Password.-->
<!--            </div>-->
<!--            <div th:if="${param.logout}">-->
<!--                You have been logged out.-->
<!--            </div>-->
<!--        </div>-->

<!--            <form th:action="@{/login}" method="post" class="text-center" style="color: black">-->
<!--                <h1 class="text-center text-white mt-0 mb-2">Log In</h1>-->
<!--                <label for="username" style="color: white">Username</label>-->
<!--                <input id="username" name="username" type="text" />-->
<!--                <label for="password" style="color: white">Password</label>-->
<!--                <input id="password" name="password" type="password" />-->
<!--                &lt;!&ndash;    <a href="/createfamily" class="btn btn-primary btn-lg active column-left" role="button" aria-pressed="true">Submit</a>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="submit" value="Log In" />&ndash;&gt;-->
<!--                <button type="submit" class="btn btn-success">Log In</button>-->
<!--            </form>-->



        <form th:action="@{/login}" method="post" class="text-center col" style="color: black">
            <div class="form-group">
                <h1 class="text-center text-white ">Log In</h1>
                <div>
                <label for="username" style="color: white">Username</label>
                <input id="username" name="username" type="text" />
                </div>
                <div>
                <label for="password" style="color: white; padding-left: 0.2em">Password</label>
                <input id="password" name="password" type="password" />
                </div>
                <button type="submit" class="btn btn-warning text-center">Submit</button>
<!--                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
<!--            <div class="form-group">-->
<!--                <label for="exampleInputPassword1">Password</label>-->
<!--                <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--            </div>-->
<!--            <div class="form-group form-check">-->
<!--                <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-warning text-center">Submit</button>-->
                    <div class="title-intro col-lg-6 text-center">
                        <div th:if="${param.error}" style="color: white">
                            Invalid Username and Password.
                        </div>
                        <div th:if="${param.logout}" style="color: white">
                            You have been logged out.
                        </div>
                    </div>
        </form>



<!--            <h2 class="pt-3">The more your kids feel the allowance is fair, the more likely they'll think before they spend. Giving your child the experience of spending his own money is empowering.</h2>-->
<!--        </div>-->
        <div class="col">

            <img class="img-fluid rounded w-100 d-block" src="images/shopping.jpeg" alt="shopping" >

        </div>
    </div>
</div>



<!--<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>-->
<th:block th:replace="partials/bootstrap :: scripts"></th:block>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<!--<script src="/static/js/main.js"></script>-->
</body>
</html>

