<!DOCTYPE html>
<html lang="en">
<head>

    <title>blank page</title>
</head>
<body>

<h1>About blank--</h1>

<!--<p>This is a blank template for a web page.</p>-->

</body>

</html>
<style>
    * {
        margin: 0;
        padding: 0;
        border: none;
        font-family: Arial, sans-serif;
    }

    body {
        font-size: 14px;
    }
    h1{
        font-family: bubblegum,Sana,serif;
        font-size: xxx-large;
        text-align: center;
        padding-top: 120px;
    }
</style>