<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Welcome homepage</title>
    <link rel="stylesheet" th:href="@{../static/css/style.css}">


    <th:block th:include="partials/bootstrap :: styling"></th:block>
</head>
<body class="homepage" style=" background-color: #5e807f;" >

<!--<h1 class="text-center">KidsRewards</h1>-->
<nav th:replace="partials/navbar2 :: navbar2"></nav>

<div class="container-fluid mx-auto first-div; mt-5" >
    <div id="title-banner" class="main-banner row bg-success disabled container-fluid col  align-items-center"  style="height: 291px">
        <br>
        <div class="title-intro col-lg-6 text-center">
            <h3 class="pt-3">KidsRewards is an application that can allow parents and teachers to assign tasks and provide associated rewards. The objective of the application is to establish a foundational sense of financial responsibility and goal achievement between parents and their children.</h3>
        </div>
        <div class="col">
            <img class="img-fluid rounded float-right" src="images/mow-lawn.jpeg" style="width: 1200rem" alt="mow-lawn" >

        </div>
    </div>
</div>


<footer th:replace="partials/bootstrap :: scripts"></footer>
<th:block th:replace="partials/footer :: styling"></th:block>

</body>
</html>